#header{
	width: 100%;
	text-align: center;
}

#nav li{
	display: inline;
	list-style-type: none;
	padding-right: 200px;
	margin: 0 auto;
	border: 0;
}

#footer{
	width: 100%;
	text-align: center;
}

img{
	border: 0;
}

.plink{
	background: url("../images/portfolioLink.png") no-repeat;
}
.plink:hover{
	background: url("../images/portfolioLinkOver.png") no-repeat;
}

.slink{
	background: url("../images/servicesLink.png") no-repeat;
}
.slink:hover{
	background: url("../images/servicesLinkOver.png") no-repeat;
}

.clink{
	background: url("../images/contactLink.png") no-repeat;
}
.clink:hover{
	background: url("../images/contactLinkOver.png") no-repeat;
}